<img src='https://image.shutterstock.com/image-photo/cat-medical-mask-protective-antiviral-260nw-1684423789.jpg' style='border:dashed red' alt='kitten'>
<h1>My name is <%= @name %> </h1>

<% if @name == nil %>
<form action="/named-cat", method='post'>
<input type="text" name="name">
<input type="submit" value="Submit">
</form>
<% end %>



<h2><%= @test %></h2>
